{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "dev": "webpack-dev-server --config build/webpack.dev.config.js",
    "demo": "webpack-dev-server --config build/webpack.dev-demo.config.js",
    "build": "node build/build.config.js"
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged"
    }
  },
  "lint-staged": {
    "*.{js}": [
      "prettier --write",
      "eslint --fix --ignore-pattern",
      "git add"
    ]
  }
}
